<div class="row">
  <div class="col-md-12">

    <h1 class="text-center">What do I have to do today? Keep motivated !!</h1>

  </div>
  <div class="col-md-6 col-md-offset-3">

    <% @activities.each do |activity| %>
      <div class="panel panel-<%= date_status activity %>">
        <div class="panel-heading"><%= activity.goal[:title] %></div>
        <div class="panel-body">
          <div class="dates">
            From <%= activity.goal[:moment_start].strftime("%I:%M%p") %> to <%= activity.goal[:moment_end].strftime("%I:%M%p") %>

          </div>
          <div class="title">
            <%= activity.goal[:description] %>
            <% if activity[:done] %>
              <span class="label label-success">Done</span>
              <%= link_to '(edit)', edit_activity_path(activity) %>
            <% end %>
          </div>
          <% if activity[:done] %>
            <div class="porgress">
              Today I did: <%= activity.progress %>
            </div>
            <div class="notes">
              Notes: <%= activity.note %>
            </div>
            <a class="twitter-share-button btn btn-primary pull-right"
              href="https://twitter.com/intent/tweet?text=<%=u 'Yeaahh, I did it today!! On my way to my goal: ' + activity.goal[:title] + ' for ' + activity.goal[:duration].to_s + ' days via @do-it-every-day' %>" target="_blank">
              Awesome you made it today, Tweet it !!
            </a>
          <% else %>
            <div class="did-it text-right">
              <%= link_to 'Yeah! I did it!', edit_activity_path(activity), class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>
