<%= form_for(@goal) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label "My goal name" %>
    <%= f.text_field :title, :placeholder => "Run in the park", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Write some motivation message" %>
    <%= f.text_area :description, :placeholder => "Running is be good for me, when I run I feel more active and more dynamic, I like running!!", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "When do you want to start?" %>
    <%= f.date_select :start_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "For how long do you what to do it?" %>
    <%= f.select :duration, [ ["1 week", 7], ["2 weeks", 14], ["1 month", 31], ["2 months", 62], ["100 days", 100] ], {prompt: "Select a duration"}, { class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label "At what time will you do it?" %>
    <%= f.time_select :moment_start, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "At what time will you finish it?" %>
    <%= f.time_select :moment_end, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create goal", class: "btn btn-primary" %>
  </div>
<% end %>
