<% if current_user.goals.length > 0 %>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Your <%= 'goal'.pluralize(current_user.goals.length) %></h1>
      <ul class="goal-list">
        <% current_user.goals.each do |goal| %>
          <li class="goal-item">
            <div class="title-zone">
              <div class="goal-title"><%= goal.title %></div>
              <div class="goal-duration">For: <%= goal.duration%> days</div>
            </div>

            <div class="goal-description"><%= goal.description %></div>
            <div class="goal-due-date">
              Goal started on <%= goal.start_date.to_formatted_s(:long_ordinal) %>
            </div>
            <div>
              <div class="btn-group">
                <%= link_to 'Edit', edit_goal_path(goal), class: "btn btn-sm btn-default" %>
                <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Setup a new goal</h1>
      <%= link_to 'Create a new goal', new_goal_path, class: "btn btn-primary" %>
    </div>
  </div>

<% else %>

  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <h1>No goal yet, don't panic</h1>

      <p>You haven't setup any goal yet, that's not a big deal. We are going to do it together.</p>

      <p>First, think of something at which you want to be better at. It can be like "do more sport", "read more", "cook my own meal every day“. The choice of this goal is up to you, the possibilities are endless.</p>

      <p>Ready?</p>
      <%= link_to 'Create a goal', new_goal_path, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
