<h1>My goals list</h1>

<ul>
  <% current_user.goals.each do |goal| %>
    <li class="goal">
      <div><h2><%= goal.title %></h2></div>
      <div><%= goal.description %></div>
      <div><%= goal.start_date %></div>
      <div>
        <div class="btn-group">
          <%= link_to 'Edit', edit_goal_path(goal), class: "btn btn-default" %>
          <%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Goal', new_goal_path %>
