<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Activty of <strong><%= @activity[:due_date].to_formatted_s(:long_ordinal) %></strong> of your goal <strong><%= @activity.goal[:title] %> for <%= @activity.goal[:duration] %> days</strong>.</p>

  <div class="form-group">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="form-group">
    <%= f.label :progress %><br>
    <%= f.text_field :progress, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :note %><br>
    <%= f.text_area :note, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update activity", class: "btn btn-primary" %>
  </div>
<% end %>
