<%= form_for(@activity) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <p>Activty of <strong><%= @activity[:due_date].to_formatted_s(:long_ordinal) %></strong> of your goal <strong><%= @activity.goal[:title] %> for <%= @activity.goal[:duration] %> days</strong>.</p>

  <div class="form-group">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>

  <%= hidden_field_tag :source, params[:source] %>

  <div class="form-group">
    <%= f.label "You can track your activity progress (ex: your running distance)" %><br>
    <%= f.text_field :progress, :placeholder => "5", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Add any notes about this activity (optional)" %><br>
    <%= f.text_area :note, :placeholder => "Sunny day, very hot, about 85° F", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update activity", class: "btn btn-primary" %>
  </div>
<% end %>
